/* @font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueBlack.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueBold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueRegular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
    background-color: #000;
    font-size: 16px;
}
  